
/* **** RESET *** */

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(235, 241, 244);
}

.main{
    display: flex;
    height: 100%;
    box-sizing: border-box
}

.main__intro__datos__logo{
    width: 50px;
    height: 48px;
    margin: 40px 0px 0px 40px;
}

.main__intro__datos{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 168px 40px 72px 80px; 
}

.main__intro__datos__input{
    width: 90%;
    height: 48px;
    max-height: 50%;
    font-size: 2rem; 
    border: none;
    color: #0A3871;
    background-color: rgb(235, 241, 244);
}

.main__intro__datos__contenedor__icono__button{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__intro__datos__contenedor__button{
    display: flex;
    gap: 8px;
}

.main__intro__datos__button{
    width: 328px;
    height: 67px;
    padding: 24px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.Encriptador{
    background-color: #0A3871;
    color: #f5f5f5;
}

.Desencriptar{
    color:#0A3871;
    background-color: #D8DFE8;
    ;
}

.main__mostrar__datos{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    margin: 40px 40px 40px 0px;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    box-shadow: 0px 24px 32px -8px #c9c9c9;
}

.main__mostrar__datos__section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px;
    box-sizing: border-box;
}

.main__mostrar__datos__titulo{
    width: 700;
    font-size: 24px;
    text-align: center;   
}

.main__mostrar__datos__parrafo{
    text-align: center; 
}
/* _____________________________________________ */
/* *****RESPONSIVIDAD PARA TABLETS******* */
/* ____________________________________________ */

@MEDIA (max-width: 768px){
    
    .main{
        flex-direction: column;
    }

    .main__intro__datos{
        margin: 40px;
        min-height: 582px;
        width: auto;
    }

    .main__intro__datos__logo{
        width: 40px;
    }

    .main__mostrar__datos__imag{
        display: none;
        justify-content: center;
        padding: 6%;
    }

    .main__mostrar__datos{
        width: auto;
        margin: 0px 40px;
    }

    .main__intro__datos__contenedor__button{
        justify-content: center;
        align-items: center;
    }

   }

    /*_____________________________________________ */
    /***********RESPONSIVIDAD PARA CELULARES********* */
    /* ____________________________________________ */

    
@MEDIA (max-width: 380px){
    
    .main{
        gap: 24px;  
        box-sizing: border-box;
        justify-content: center;
    }

    .main__intro__datos{
        margin: 16px;
        width: auto;
    }

    .main__intro__datos__logo{
       margin: 80px 16px 16px 16px;
    }

    
    .main__mostrar__datos{
        width: auto; 
        margin: 16px;
    }

    .main__intro__datos__contenedor__button{
        flex-direction: column;
    }

    
   }

